.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a4358;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  border-radius: 44px;
  background: linear-gradient(145deg, #343c4f, #3e485e);
  box-shadow:  7px 7px 24px #2d3445,
               -7px -7px 24px #47526b;
}
.grid-item {
  font-size: 30px;
  text-align: center;
}