.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a4358;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  border-radius: 44px;
  background: linear-gradient(145deg, #343c4f, #3e485e);
  box-shadow:  7px 7px 24px #2d3445,
               -7px -7px 24px #47526b;
}
.grid-item {
  padding: 0px 50px 0px 50px;
  font-size: 30px;
  text-align: center;
}

#startbutton {
  user-select: none; 
  font-size: 22px; 
  padding: 3px 18px; 
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(251,221,11,0.89), rgba(231,147,2,0.72)) repeat scroll 0% 0%;
   border-radius: 12px; 
   color: rgb(255, 255, 255);
}

#emotions_button {
  margin: 20px 0px 10px 0px;
  user-select: none; 
  font-size: 28px; 
  padding: 9px 24px; 
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(80, 251, 11, 0.89), rgba(30, 126, 30, 0.72)) repeat scroll 0% 0%;
   border-radius: 12px; 
   color: rgb(255, 255, 255);
}

#comparebutton {
  margin: 20px 0px 10px 0px;
  user-select: none; 
  font-size: 28px; 
  padding: 9px 24px; 
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(80, 251, 11, 0.89), rgba(30, 126, 30, 0.72)) repeat scroll 0% 0%;
   border-radius: 12px; 
   color: rgb(255, 255, 255);
}