#myBars {
  width: 100%;
  background-color: #552c34;
  color: white;
}

#barAnger {
    background-color: #e72222;
}

#barContempt {
    background-color: #4886A0;
}

#barDisgust {
    background-color: #9acd32;
}

#barFear {
    background-color: #2f2323;
}

#barHappiness {
    background-color: #8cff1f;
}

#barNeutral {
    background-color: #f6efd0;
}

#barSadness {
    background-color: #2a3b90;
}

#barSurprise {
    background-color: #c9936f;
}

.myBar {
  width: 0%;
  height: 30px;
}
