#my_bars {
  width: 100%;
  background-color: #552c34;
  color: white;
}

#bar_anger {
    background-color: #e72222;
}

#bar_contempt {
    background-color: #4886A0;
}

#bar_disgust {
    background-color: #9acd32;
}

#bar_fear {
    background-color: #2f2323;
}

#bar_happiness {
    background-color: #8cff1f;
}

#bar_neutral {
    background-color: #f6efd0;
}

#bar_sadness {
    background-color: #2a3b90;
}

#bar_surprise {
    background-color: #c9936f;
}

.my_bar {
  width: 0%;
  height: 30px;
}
